-var titulo="Buttons"
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title #{titulo}
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/prism.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/style.css")
body.bg-blanco
	header
	main.contenedor
		.fila
			.sm-1-1
				.title.t-right
					a(href="/")
						span.code #{"</"}
						span.grey Pi
						span.color c
						span.grey a
						span.color ss
						span.grey o
						span.code #{">"}
				.sm-1-1.t-right
					h1
						small
							a(href="components.html") Componentes < #{titulo} />
				.sm-1-1.t-right
						hr
						|Este es un sistema de grilla basado en 12 columnas el cual
						|se ajusta de mejor forma al contenido que se requiere en el
						|ancho de la pagina ofreciendo anchos de columnas con
						|multiplos de 2,3,4 y hasta 6, dadndo la posibilidad de
						|manipular dentro de cada una de las columnas aersos anchos.
						|Siempre y cuando la suma de todas estas no superen las 12 columnas
						hr
			hr
			.fila.p-top-25
				.sm-3-7
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-info block'>"}
								|#{"   Info Button Block"}
								|#{"</a>"}
					.sm-1-1
						a.btn.block Info Button Block

				.sm-2-7
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-sucess disabled'>"}
								|#{"   Sucess Button disabled"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-danger.disabled Sucess Button disabled
				.sm-2-7
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-sucess active'>"}
								|#{"   Sucess Button Active"}
								|#{"</a>"}
					.sm-1-1
						a.btn.active Sucess Button Active
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn big'>"}
								|#{"   Big Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.big Big Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn'>"}
								|#{"   Normal Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn Normal Button
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn tiny'>"}
								|#{"   Tiny Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.tiny Tiny Button
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn'>"}
								|#{"   Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline'>"}
								|#{"   Outline Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.outline.active Outline Button
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a invert class='btn'>"}
								|#{"   Invert Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.invert Invert Button
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-link'>"}
								|#{"   link"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-link link

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-link'>"}
								|#{"   Outline link"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-link.outline Outline link
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-link'>"}
								|#{"   Invert link"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-link.invert Invert link
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-default'>"}
								|#{"   default Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-default default Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-default'>"}
								|#{"   Outline default"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-default.outline Outline default
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-default'>"}
								|#{"   Invert Default"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-default.invert Invert default
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-info'>"}
								|#{"   info Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-info info Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-info'>"}
								|#{"   Outline info"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-info.outline Outline info
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-info'>"}
								|#{"   Invert info"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-info.invert Invert info
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-sucess'>"}
								|#{"   sucess Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-sucess sucess Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-sucess'>"}
								|#{"   Outline sucess"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-sucess.outline Outline sucess
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-sucess'>"}
								|#{"   Invert sucess"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-sucess.invert Invert sucess
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-warning'>"}
								|#{"   warning Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-warning warning Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-warning'>"}
								|#{"   Outline warning"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-warning.outline Outline warning
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-warning'>"}
								|#{"   Invert warning"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-warning.invert Invert warning
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-danger'>"}
								|#{"   danger Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-danger danger Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-danger'>"}
								|#{"   Outline danger"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-danger.outline Outline danger
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-danger'>"}
								|#{"   Invert danger"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-danger.invert Invert danger
			hr
			.fila
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn btn-primary'>"}
								|#{"   primary Button"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-primary primary Button

				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn outline btn-primary'>"}
								|#{"   Outline primary"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-primary.outline Outline primary
				.sm-1-3
					.sm-1-1
						pre.language-markup.line-numbers
							code
								|#{"<a class='btn invert btn-primary'>"}
								|#{"   Invert primary"}
								|#{"</a>"}
					.sm-1-1
						a.btn.btn-primary.invert Invert primary


		script(src="js/jquery-1.11.3.min.js")
		script(src="js/picasso.js")
		script(src="js/prism.js")
