-var titulo="Componentes"
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title #{titulo}
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/style.css")
body
	header
	main.contenedor
		.fila
			.sm-1-1
				.title.t-right
					a(href="/")
						span.code #{"<"}
						span.grey Pi
						span.color c
						span.grey a
						span.color ss
						span.grey o
						span.code #{"/>"}
			.sm-1-1
				.sub
					span.color #{titulo}
				hr
			.sm-1-1
				.sm-1-3
					h3
						a(href="tipografia.html") Tipografia
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, dolor laborum obcaecati delectus eum fugit velit quo et magni consectetur.
				.sm-1-3
					h3
						a(href="grilla.html") Grilla
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae laboriosam ullam soluta ex. Totam, nihil placeat, ipsum doloribus temporibus sit!
				.sm-1-3
					h3
						a(href="botones.html") Botones
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa quas impedit quisquam id molestias accusamus incidunt sequi ratione cupiditate!
			.sm-1-1
				.sm-1-3
					h3
						a(href="formularios.html") Formularios
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet qui harum nulla autem doloremque laborum sed vitae, labore distinctio alias.
				.sm-1-3
					h3
						a(href="tablas.html") Tablas
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat neque sunt corrupti ea illo dolore nesciunt ab minima minus ducimus.
				.sm-1-3
					h3
						a(href="navegacion.html") Navegacion
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis recusandae, reiciendis a vero impedit. Illum consequuntur, quas quaerat culpa sed.
			.sm-1-1
				.sm-1-3
					h3
						a(href="notificaciones.html") Notificaciones
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatum hic ea dolorum unde laboriosam facilis mollitia dolore, delectus consequuntur?
				.sm-1-3
					h3
						a(href="targetas.html") Targetas
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente odit aliquam laboriosam odio aspernatur possimus eaque corporis aut est explicabo.
				.sm-1-3
					h3
						a(href="auxilliares.html") Auxiliares
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus porro saepe laudantium, voluptas mollitia culpa sit vero ut cumque doloremque.
	footer(style="background:#212121")
		.contenedor
			.sm-1-1
				.sm-1-4
					h3 Ejemplos
					.sm-1-1
						ul
							li
								a(href="tipografia.html") Tipografia
							li
								a(href="") Enlace 2 2
							li
								a(href="") Enlace 3 3
				.sm-3-4
					h3 Documentacion
					.sm-1-4
						ul
							li
								a(href="") Enlace 1 1
							li
								a(href="") Enlace 2 2
							li
								a(href="") Enlace 3 3
					.sm-1-4
						ul
							li
								a(href="") Enlace 1 1
							li
								a(href="") Enlace 2 2
							li
								a(href="") Enlace 3 3
					.sm-1-4
						ul
							li
								a(href="") Enlace 1 1
							li
								a(href="") Enlace 2 2
							li
								a(href="") Enlace 3 3
