-var titulo="Grilla"
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title #{titulo}
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/prism.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/style.css")
body
	header
	main.contenedor
		.fila
			.sm-1-1
				.title.t-right
					a(href="/")
						span.code #{"</"}
						span.grey Pi
						span.color c
						span.grey a
						span.color ss
						span.grey o
						span.code #{">"}
				.sm-1-1.t-right
					h1
						small
							a(href="components.html") Componentes < #{titulo} />
				.sm-1-1.t-right
						hr
						|Este es un sistema de grilla basado en 12 columnas el cual
						|se ajusta de mejor forma al contenido que se requiere en el
						|ancho de la pagina ofreciendo anchos de columnas con
						|multiplos de 2,3,4 y hasta 6, dadndo la posibilidad de
						|manipular dentro de cada una de las columnas diversos anchos.
						|Siempre y cuando la suma de todas estas no superen las 12 columnas
			hr
			.fila
				h1.t-center Ejemplo .sm-1-1
				.sm-1-1
					.alert.bg-verde
			.fila
				.sm-1-1
					pre.language-markup.line-numbers
						code
							|#{"<div class='fila'>"}
							|#{"   <div class='sm-1-1'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"</div>"}
			hr
			.fila
				h1.t-center Ejemplo .xs-1-2
				.sm-1-2
					.alert.bg-verde
				.sm-1-2
					.alert.bg-verde
			.fila
				.sm-1-1
					pre.language-markup.line-numbers
						code
							|#{"<div class='fila'>"}
							|#{"   <div class='sm-1-2'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"   <div class='sm-1-2'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"</div>"}

			hr
			.fila
				h1.t-center Ejemplo .lg-1-2 y .lg-1-2.xs-1-1
				.lg-1-2.md-1-4
					.alert.bg-verde
				.lg-1-2.xs-1-3
					.alert.bg-verde
			.fila
				.sm-1-1
					pre.language-markup.line-numbers
						code
							|#{"<div class='fila'>"}
							|#{"   <div class='lg-1-2 md-1-4'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"   <div class='lg-1-2 xs-1-3'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"</div>"}
			hr
			.fila
				h1.t-center Ejemplo columnas anidadas en columna
				.lg-1-2
					.alert.bg-rojo.xs-2-6
					.alert.bg-rojo.xs-3-6
					.alert.bg-rojo.xs-1-6
				.lg-1-2
					pre.language-markup.line-numbers
						code
							|#{"<div class='fila'>"}
							|#{"   <div class='lg-1-2'>"}
							|#{"      <div class='xs-2-6'>"}
							|#{"         ..."}
							|#{"      </div>"}
							|#{"      <div class='xs-3-6'>"}
							|#{"         ..."}
							|#{"      </div>"}
							|#{"      <div class='xs-1-6'>"}
							|#{"         ..."}
							|#{"      </div>"}
							|#{"   </div>"}
							|#{"</div>"}

			hr
			.fila
				h1.t-center Ejemplo columnas en escalera
				.fila.xs-1-1
					.xs-1-2.alert.bg-verde-c
					.xs-1-2
						.xs-1-2.alert.bg-verde
						.xs-1-2
							.xs-1-3.alert.bg-verde-o
							.xs-1-3.alert.bg-verde-o
							.xs-1-3.alert.bg-verde-o
				.lg-1-1
					pre.language-markup.line-numbers
						code
							|#{"<div class='fila'>"}
							|#{"   <div class='xs-1-1'>"}
							|#{"      ..."}
							|#{"   </div>"}
							|#{"   <div class='xs-1-2'>"}
							|#{"      <div class='xs-1-2'>"}
							|#{"         ..."}
							|#{"      </div>"}
							|#{"      <div class='xs-1-2'>"}
							|#{"         <div class='xs-1-3'>"}
							|#{"            ..."}
							|#{"         </div>"}
							|#{"         <div class='xs-1-3'>"}
							|#{"            ..."}
							|#{"         </div>"}
							|#{"         <div class='xs-1-3'>"}
							|#{"            ..."}
							|#{"         </div>"}
							|#{"      </div>"}
							|#{"   </div>"}
							|#{"</div>"}

		script(src="js/jquery-1.11.3.min.js")
		script(src="js/picasso.js")
		script(src="js/prism.js")
