-var titulo = "Picasso"
<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title #{titulo}
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/style.css")
body
	.contenedor
		.index
			.fila
				.sm-1-1
					.title.t-right
						a(href="/")
							span.code #{"< "}
							span.grey Pi
							span.color c
							span.grey a
							span.color ss
							span.grey o
							span.code #{" />"}
				.sm-1-1
					.sub
						|Framework
						span.color #{" css "}
						| al natural
					hr
				.sm-1-1
					.descripcion
						|diseñado para hacer mas natural
						|la creacion de layouts en nuestros sitios,
						|optimizado para dispositivos moviles

			.fila.m-top-25
				.md-1-5
					a.block.btn-icon.right.btn.btn-sucess(href="#")
						span Get Started !
						i.fa.fa-coffee
				.md-1-5
					a.block.btn-icon.right.btn.btn-sucess(href="components.html")
						span Components
						i.fa.fa-puzzle-piece
				.md-1-5
					a.block.btn-icon.right.btn.btn-sucess(href="#")
						span Download CSS
						i.fa.fa-download
				.md-1-5
					a.block.btn-icon.right.btn.btn-primary(href="#")
						span Source Code
						i.fa.fa-binoculars
				.md-1-5
					a.block.btn-icon.right.btn.btn-primary.outline(href="#")
						span GitHub
						i.fa.fa-github
			.fila.m-top-25
				.xs-1-1.sm-7-9.push-sm-1-9.lg-1-3.push-lg-1-3.between
					.xs-1-3.btn.btn-info.btn-icon.outline
						span.hide-xs Twitter
						i.fa.fa-twitter
					.xs-1-3.btn.btn-link.btn-icon.outline
						span.hide-xs Email
						i.fa.fa-envelope
					.xs-1-3.btn.btn-primary.btn-icon.outline
						i.fa.fa-github
						span.hide-xs Github

